* {
    box-sizing: border-box;
    border:0;
    margin: 0;
    
}

.nav-css {
    background-color: #5e5a5a;
    border: 2px solid;
}
.item {
    border: 4px solid;
    padding: 20px;
    background-color: #dcb7b7;
    margin-bottom: 12px;   
   
}





.menu-title {
  
    font-weight: bold;
    font-size: 25px;
} 

